<ion-header>
    <ion-toolbar>
        <ion-title>
            u-Weighted is... {{ weighted }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
    <ion-grid>
        <ion-row>
            <ion-list>
                <ion-item>
                    <ion-input [(ngModel)]="subject1.name" placeholder="Subject" type="text"></ion-input>
                    <ion-input [(ngModel)]="subject1.credits" placeholder="Credits" type="number"></ion-input>
                    <ion-input [(ngModel)]="subject1.note" placeholder="Note" type="number"></ion-input>
                </ion-item>
            </ion-list>
        </ion-row>
        <ion-row>
            <ion-list>
                <ion-item>
                    <ion-input [(ngModel)]="subject2.name" placeholder="Subject" type="text"></ion-input>
                    <ion-input [(ngModel)]="subject2.credits" placeholder="Credits" type="number"></ion-input>
                    <ion-input [(ngModel)]="subject2.note" placeholder="Note" type="number"></ion-input>
                </ion-item>
            </ion-list>
        </ion-row>
        <ion-row>
            <ion-list>
                <ion-item>
                    <ion-input [(ngModel)]="subject3.name" placeholder="Subject" type="text"></ion-input>
                    <ion-input [(ngModel)]="subject3.credits" placeholder="Credits" type="number"></ion-input>
                    <ion-input [(ngModel)]="subject3.note" placeholder="Note" type="number"></ion-input>
                </ion-item>
            </ion-list>
        </ion-row>
        <ion-row>
            <ion-list>
                <ion-item>
                    <ion-input [(ngModel)]="subject4.name" placeholder="Subject" type="text"></ion-input>
                    <ion-input [(ngModel)]="subject4.credits" placeholder="Credits" type="number"></ion-input>
                    <ion-input [(ngModel)]="subject4.note" placeholder="Note" type="number"></ion-input>
                </ion-item>
            </ion-list>
        </ion-row>
        <ion-row>
            <ion-list>
                <ion-item>
                    <ion-input [(ngModel)]="subject5.name" placeholder="Subject" type="text"></ion-input>
                    <ion-input [(ngModel)]="subject5.credits" placeholder="Credits" type="number"></ion-input>
                    <ion-input [(ngModel)]="subject5.note" placeholder="Note" type="number"></ion-input>
                </ion-item>
            </ion-list>
        </ion-row>
        <ion-row>
            <ion-list>
                <ion-item>
                    <ion-input [(ngModel)]="subject6.name" placeholder="Subject" type="text"></ion-input>
                    <ion-input [(ngModel)]="subject6.credits" placeholder="Credits" type="number"></ion-input>
                    <ion-input [(ngModel)]="subject6.note" placeholder="Note" type="number"></ion-input>
                </ion-item>
            </ion-list>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-button (click)="myWeighted()">
            Watch
        </ion-button>
    </ion-grid>
</ion-content>